<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Navaja Suiza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  <ion-item class="ion-text-center" lines="none">
    <h3>Navaja suiza en comparacion a esta aplicacion</h3>
  </ion-item>

  <ion-item lines="none">
    <img src="/assets/image/navaja.jpg" alt="Navaja Suiza">
  </ion-item>

  <ion-item lines="none">
    <p>Esto es una navaja suiza,pero la relacion que guarda a esta aplicacion es su funcion principal que es multi uso y no solo se enfoca en una sola funcion .</p>
  </ion-item>

</ion-card>
</ion-content>
