<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
  <ion-item>
    <img src="assets/image/me.jpeg"/>

  </ion-item>
  <ion-item>
    <label>Nombre : </label> Reylis Hernandez
  </ion-item>

  <ion-item>
    <label>Telefono: </label> 829-683-2546
  </ion-item>
  
  <ion-item>
    <label>Correo: </label> reylisfrancisco@outlook.es
  </ion-item>
  
</ion-list>

</ion-content>
