<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <p>Reporte Actual</p>
      <ion-label slot="end"> {{ fechaActual | date: 'EEE dd MMM'}}</ion-label>
    </ion-item>

    <div class="container" *ngIf="boton">
      <div class="center">
        <ion-button (click)="getLocation()">Ver Clima</ion-button>
      </div>
    </div>
  </ion-card>

  <ion-card *ngIf="climaBool">
    <!-- Ciudad -->
    <ion-item lines="none">
      <ion-icon name="location"></ion-icon>
      <span>{{ ciudad }}</span>
      <!-- Temperatura -->
      <ion-icon name="thermometer"></ion-icon>
      <span>{{ (climaTemperaturaDetalles?.temp - 273.15).toFixed(0)}} °C</span>
    </ion-item>

     <!-- Clima mas detalle -->
    <ion-item lines="none">
      <span slot="end">{{ climaDetalles?.description }}</span>
      <img [height]="75" [src]="climaIcono">
    </ion-item>
  </ion-card>

  <ion-card *ngIf="climaBool">
    <!-- Temperatura Maxima -->
    <ion-item>
      <span>Temperatura Max</span>
      <span slot="end">{{ (climaTemperaturaDetalles?.temp_max - 273.15).toFixed(0)}} °C</span>
    </ion-item>

    <!-- Temperatura Minima -->
    <ion-item >
      <span>Temperatura Min</span>
      <span slot="end">{{ (climaTemperaturaDetalles?.temp_min - 273.15).toFixed(0)}} °C</span>
    </ion-item>

    <!-- Humedad -->
    <ion-item>
      <span>Humedad</span>
      <span slot="end">{{ climaTemperaturaDetalles?.humidity }} %</span>
    </ion-item>
  </ion-card>

</ion-content>
